pre,
.highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 13px;
  color: #eaeaea;
  background: #000;
  line-height: 1.6;
}
pre,
code {
  font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}
code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: #555;
  background: #eee;
  border-radius: 3px;
  font-size: 13px;
}
pre {
  padding: 10px;
}
pre code {
  padding: 0;
  color: #eaeaea;
  background: none;
  text-shadow: none;
}
.highlight {
  border-radius: 1px;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 1em;
  color: #eaeaea;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: " ";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
  color: #eaeaea;
}
.highlight figcaption a:hover {
  border-bottom-color: #eaeaea;
}
.highlight .gutter pre {
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  text-align: right;
  background-color: #292929;
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #000;
}
.highlight .line {
  height: 20px;
}
.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .deletion {
  background: #008000;
}
pre .addition {
  background: #800000;
}
pre .meta {
  color: #c397d8;
}
pre .comment {
  color: #969896;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #d54e53;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #e78c45;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
  color: #b9ca4a;
}
pre .title,
pre .css .hexcolor {
  color: #70c0b1;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #7aa6da;
}
pre .keyword,
pre .javascript .function {
  color: #c397d8;
}